.service-status {
    text-align:center;
    margin:1%;
}

.service-status-container {
    text-align:center;
    display: inline-block;
    width:9%;
    margin: auto 1%;
}

.service-status-element {
    text-align:center;
    margin:auto;
    color:white;
    font-size: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration:none;
}

.service-status-image {
    text-align:center;
    margin:auto;
}

.user-lookup {
    text-align:center;
    margin:1%;
}

.user-lookup-nickname-input {
    text-align:center;
}

.user-lookup-uuid-container {
    width:45%;
    display: inline-block;
    text-align:center;
}

.user-lookup-nickname-history-title-container {
    width:45%;
    display: inline-block;
    text-align:center;
}

.user-lookup-skin {
    width:45%;
    display: inline-block;
}

.user-lookup-nickname-history-container {
    width:45%;
    height: 450px;
    padding:3px;
    display: inline-block;
    overflow-y:scroll;
    border:1px solid #000000;
}