.service-status {
    text-align:center;
    margin:1%;
}

.service-status-container {
    text-align:center;
    display: inline-block;
    width:9%;
    margin: auto 1%;
}

.service-status-element {
    text-align:center;
    margin:auto;
    color:white;
    font-size: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration:none;
}

.service-status-image {
    text-align:center;
    margin:auto;
}

.user-lookup {
    text-align:center;
    margin:1%;
}